body {
    font-family: GilroyRegular, sans-serif;
    background-color: black;
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu__hamburger__icon {
    padding: 0 20px;
    margin-top: 24px;
    padding-bottom: 54px;
}

.menu__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    text-align: center;
    padding-left: 20px;
}

.menu__link {
    color: white;
    text-decoration: none;
}

.menu__hamburger__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}